.column {
    width:30%;
    float:left;
}

.project {
    background-color: grey;
    color: darkgrey;
    margin:2px;
    border-color: black;
    border-width: 1px;
    padding:2px;
}

.project-active {
    cursor: pointer;
    color: black;
}

#iterator {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-top-right-radius: 10px;
    background-color: grey;
}

#intro, #reveal {
    text-align: center;
    font-style: italic;
    font-size: 65pt;
}

#startgame {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 45pt;
    padding: 20px;
    visibility: hidden;
}